    <%- include("header") -%>

    <h2>this is about page</h2>
    <p>this is a website which can be used in daily routines and its very useful to remember all your activities during a particular day</p>


    <%- include("footer") -%>